.bubble {
    border-radius: 0 50px;
    background-color: #d6d6d6;
    margin: 0.5rem;
    padding: 0.5rem;
}

.bubble-2 {
    border-radius: 0 50px;
    background-color: #e3e3e3;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

.img {
    margin: 0.5rem;
    border-radius: 0 50px; 
}

.bubble-2 img {
    margin: 0.5rem;
    border-radius: 0 50px;
}

input[type=checkbox] {
    display: none;
}

.zoom img {
    transition: all 0.5s ease-in;
    cursor: zoom-in;
}

input[type=checkbox]:checked~img {
    transform: scale(1.5);
    margin: 0 auto;
    cursor: zoom-out;
}

h2 {
    margin-left: 10rem;
}

h1 {
    border-radius: 0 25px;
    background-color: #d6d6d6;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}